{#
/**
 * @file panels-pane.tpl.php
 * Plantilla de flexiblock
 *
 * Variables disponibles
 * - $extra_class: clase base ('flexiblock-block') mas todas las que el usuario haya añadido + clases añadidas en el proceso de renderizado
 * - $title: Titulo del bloque
 * - $title_tag: Etiqueta html a utilizar para el texto
 * - $icono: Imagen del icono si se seleccionó alguna
 */
#}
<div id="{{ id }}>" class="tabs-wrapper">

  <ul class="nav nav-tabs" role="tablist">
    {% for tabs in k_tab.tab %}
      <li>
        <a href="#{{ k_tab }}" role="tab" data-toggle="tab">{{ tab }}</a>
      </li>
    {% endfor %}
  </ul>

  <div class="tab-content">
    {% for content in k_item.item %}
      <div id="tab_{{ k_item }}" class="content tab-pane">
        {{ item }}
      </div>
    {% endfor %}

  </div>

</div>
